:root 
{
	--beth-ellen:'Beth Ellen', cursive;
	--slabo:'Slabo 27px', serif;
	--merienda:'Merienda One', cursive;
	--oswald:'Oswald', sans-serif;
	--primaryColor:#fd1c56;
}

*,
html,
body
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;

}
body {text-align: center;	overflow-x: hidden;
}
a:focus,
button:focus,
input:focus,
select:focus
{
	outline: none !important;
}
/*button*/
.bells-btn 
{
	padding: 14px 50px;
	border: none;
	border-radius: 2rem;
	font-family: var(--merienda);
	text-decoration: none !important; 
	transition: all 0.8s ease-in-out;
}

.bells-btn.isPrimary
{
	background: var(--primaryColor);
	color: #fff;
}

/*tilts*/
.tl-1
{
	transform: rotate(-2deg);
}
.tl-2
{
	transform: rotate(-4deg);
}
.tr-1
{
	transform: rotate(2deg);
}
.tr-2
{
	transform: rotate(4deg);
}
/*carousel*/
.carousel-inner,
.carousel-item
{
	min-height: 60vh;
	padding: 3rem 0;
}
.carousel-control
{
	font-size: 30px;
	font-style: italic;
}
.owl-stage-outer
{
	padding: 2em 1em;
}

@media screen and (max-width: 744px) {
	.owl-stage-outer
{
	padding: 0 !important;
}

}
.owl-nav 
{
  padding: 1em;
  z-index: 999999;
  margin: 0 auto;
}
.owl-nav .owl-prev,
.owl-nav .owl-next
{
  color: var(--primaryColor) !important;
  margin: 3px;
  border-radius: 50%;
  font-size: 40px !important;
  -webkit-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i
{
  padding: .35em  !important;
  color: var(--primaryColor);
  border-radius: 50%;
  -webkit-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
  font-style: italic;

}

.owl-nav .owl-prev:hover i ,
.owl-nav .owl-next:hover i
{
      font-size: 45px !important;


}

.loader,
.seat-saved-msg
{
	height: 100vh;
	background:
   linear-gradient(to bottom,
   						rgba(253, 28, 86,.9),80%,
      rgba(255, 255, 255,.9)
   );
 position: fixed;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 88;
}
.loader .heart i 
{
	color: #fff;
	font-size: 80px;
	animation: blink 1s linear infinite;
	opacity: 1;
}

.seat-saved-msg h1 
{
	font-family: var(--merienda);
	color: #fff;
	font-size: 36px;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.err
{
	font-family: var(--oswald);
	color: var(--primaryColor);
}

.clear
{
	padding: 0 !important;
}
/*Main Content*/
.hero
{
	position: relative;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed !important;
 animation-name: swapBackground;
 animation-duration:100s;
 animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes swapBackground {

   0% {
   		background:
   linear-gradient(to bottom,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/bride.jpg);

   }

   20%
   {
   	background:
   linear-gradient(
 					to bottom,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/wedding-rings.jpg); 
   }
   40%
   {
   	background:
   linear-gradient(to bottom,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/flower.jpg); 
   }
   60%
   {
   	background:linear-gradient(
 					to bottom,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/couple-hugging.jpg); 
   }
60%
   {
   	background:
   linear-gradient(
						to bottom,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/wedding-cake.JPG); 
   }
  100% {
background:
   linear-gradient(
						to bottom,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/couple.jpg);  }
}
.hero .hero-body
{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero a {
	text-decoration: none;
}
.hero .ti-arrow-down
{
	color: #ffffff;
	font-size: 30px;
	padding: 0.65em 0.75em;
	border:1px solid #fff;
	border-radius: 50%;
	transition: all 0.8s ease-in-out;
}
.hero .ti-arrow-down:focus
{
	outline: none;
}
.hero .ti-arrow-down:hover 
{
	background: #ffffff;
	color: var(--primaryColor);
}
.hero .hero-body .hero-body-content
{
	text-align: center;
}
.hero .hero-body .hero-body-content .sub
{
		font-family: var(--oswald);
		text-transform: uppercase;
		letter-spacing: 4px;
		padding: 0.86rem;
		width: 50%;
		margin: 0 auto;
}
.hero .hero-body .hero-body-content .sub img
{
	width: 100%;
	margin: 0.6rem auto;
}
.hero .hero-body .hero-body-content .sub p
{
	font-size: 0.89rem;
	color: #fff;
}
.hero .hero-body .hero-body-content .main
{
	font-family: var(--merienda);
	margin: 2rem;
}
.hero .hero-body .hero-body-content .main h1
{
	font-size: 6em;
	color: #fff;
}

.hero .hero-body .hero-body-content .main h1 span
{
	background: var(--primaryColor);
	font-size: 3rem;
	padding: 1rem 2rem;
	border-radius: 50%;
	color: #fff;
}
.hero .hero-body .hero-body-content .action 
{
	margin: 3rem auto;
}
.hero .hero-body .hero-body-content .action .bells-btn i
{
	transition: 0.4s ease-in-out;
}

.hero .hero-body .hero-body-content .action .bells-btn:hover i
{
	transform: rotate(360deg);
}
@media screen and (max-width: 744px) {
	.hero .hero-body .hero-body-content .main h1
{
	font-size: 2rem;
	color: #fff;
}
.hero .hero-body .hero-body-content .main h1 span
{
	font-size: 1rem;
		padding: 0.45rem 0.85rem;

}
.hero .ti-arrow-down
{
	font-size: 20px;
}
}

.page-wrapper
{
	height: 100vh;
	 width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.couple-story
{
	width: 100%;
	min-height: 100vh;
}
.couple-story .image
{
		min-height: 60vh;
}
.couple-story .image img
{
	width: 100%;
	object-fit: cover;
	margin: 20px auto;
	transform: rotate(-2deg);
	padding: 2rem;
	border: 5px solid #f3f3f3;
}
.couple-story .story
{
	text-align: left;
	min-height: 60vh;
	display: flex;
	align-items: center;

}

.couple-story .story h1 {
	font-family: var(--merienda);
	font-size: 42px;
	margin: 1rem auto;
	color: rgba(253, 28, 86,.6);
}
.couple-story .story p 
{
	font-family: var(--oswald);
	padding: 0.65em;
}
.quote-section
{
	min-height: 40vh;
	   	background:
   linear-gradient(
						to right,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/couple-hugging.jpg); 
   background-attachment: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 3em auto;

}
.quote
{
	text-align: center;
	color: #ffffff;
	width: 60%;
	margin: 0 auto;
}
.quote p i 
{
	font-style: italic;
}
.quote p 
{
	font-size: 30px;
	font-family: var(--beth-ellen);
}
@media screen and (max-width: 744px) {
.quote
{
	padding: 1em;
	width: 100%;
}
.quote p 
{
	font-size: 20px;
	font-family: var(--beth-ellen);
}
}

.our-people
{
	min-height: 100vh;
	padding: 2em;
}

.our-people .nav.nav-tabs
{
	display: flex;
	justify-content: center;
	border-bottom: none;
}
.our-people .nav .nav-item .nav-link
{
		padding: 14px 50px;
	border-radius: 2rem;
	font-family: var(--merienda);
	transition: 0.8s ease-in-out;
	color:var(--primaryColor);
	border: 2px solid var(--primaryColor);
	margin: 6px;
}
.our-people .nav .nav-item .nav-link:hover,
.our-people .nav .nav-item .nav-link:focus,
.our-people .nav .nav-item .nav-link.active
{
	background: var(--primaryColor);
	color: #fff;
	outline: none;
}

.our-people .people-single
{
	min-height: 400px;

}
.our-people .people-single .people-img img
{
	padding: 2rem;
	border: 5px dotted #f3f3f3;
	width: 100%;
	max-height: 450px;
	object-fit: cover;
}
.our-people .people-single .people-info 
{
	font-family: var(--merienda);
	padding: 1rem 0.37rem;
}
.our-people .people-single .people-info h3
{
	font-size: 30px;
	color: rgba(253, 28, 86,.9);

}

.our-people .people-single .people-info p
{
	font-size: 16px;
}
.our-people .people-single .people-info p i
{
	color: var(--primaryColor);
}

.the-event
{
 min-height: 50vh;
 padding: 3em 0;
 margin: 2em auto;

}
.the-event .heading h3
{
		font-size: 50px;
	font-family: var(--merienda);
	color: #fff;
}
.the-event .the-event-info
{
	padding: 1em;
	 min-height: 30vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

@media screen and (max-width: 744px) {
	.the-event {padding-bottom: 4em;}
	.the-event .the-event-info {
		min-height: 20vh;
	}
}
.the-event .the-event-info i
{
	color: #fff;
	font-size: 50px;
}
.the-event .the-event-info p {
	color: #fff;
	font-size: 30px;
	font-family: var(--oswald);
}
.the-event .the-event-info p small
{
	font-size: 16px;
}
.save-a-seat
{
	padding: 3rem 0;
}

.save-a-seat .heading
{
	padding: 2rem;
	color: #555;

}
.save-a-seat .heading h3
{
	font-size: 50px;
	font-family: var(--merienda);
	
}
.save-a-seat .heading h3 span
{
	color:var(--primaryColor); 
}

.save-a-seat .form-area
{
	min-height:400px;
	border: 5px dotted #f3f3f3;
	position: relative;
}
.save-a-seat .form-area .form
{
	transform: rotate(0deg) !important;
	padding: 4em 1em;
}
.save-a-seat .form-area .form .b-input-group
{
	margin: 10px auto;
}
.save-a-seat .form-area .form .b-input-group .b-input-field
{
border: none;
border-bottom: 5px solid #555;
border-radius: 255px 15px 225px 1px/1px 225px 15px 255px;
width: 100%;
padding: 20px;
font-size: 30px;
font-family: var(--merienda);
color: #555;
transition: 0.8s ease;
}
.save-a-seat .form-area .form .b-input-group .b-select
{
	width: 100%;
	background: transparent;
	border:none;
	padding: 20px;
	font-family: var(--merienda);
	font-size: 30px;
	border-bottom: 5px solid #555;
border-radius: 255px 15px 225px 1px/1px 225px 15px 255px;
color: #555;
transition: 0.8s ease;

}

.save-a-seat .form-area .form .b-input-group .b-input-field:focus,
	.save-a-seat .form-area .form .b-input-group .b-select:focus
{
	border-bottom: 5px solid var(--primaryColor);

}
.save-a-seat .form-area .form .b-input-group .b-input-field::-webkit-input-placeholder { 
  color: #555;
  font-family: var(--merienda);
  font-size: 30px;
}

.save-a-seat .form-area .form .b-input-group .b-input-field:-ms-input-placeholder {
  color: #555;
  font-family: var(--merienda);
  font-size: 30px;
}

.save-a-seat .form-area .form .b-input-group .b-input-field::placeholder {
  color: #555;
  font-family: var(--merienda);
  font-size: 30px;
}
@media screen and (max-width: 744px) 
{
	.save-a-seat .heading h3
	{
		font-size: 36px;
	}
	.save-a-seat .form-area .form .b-input-group .b-input-field,
		.save-a-seat .form-area .form .b-input-group .b-select,
	.save-a-seat .form-area .form .b-input-group .b-input-field::-webkit-input-placeholder,
	.save-a-seat .form-area .form .b-input-group .b-input-field:-ms-input-placeholder,
	.save-a-seat .form-area .form .b-input-group .b-input-field::placeholder
	{
		font-size: 20px
	}

}
.gallery
{
	padding: 3rem 0;
}
.gallery .heading 
{
	padding: 4rem;
}
.gallery .heading h3
{
	font-size: 50px;
	font-family: var(--merienda);
	
}
.gallery .heading h3 span
{
	color: var(--primaryColor);
}

.gallery .galleryItem

{
	padding: 2em;
	border:5px dotted #f3f3f3;
}

.message-section
{
	min-height: 40vh;
	   	background:
   linear-gradient(
						to right,
   						rgba(253, 28, 86,.6),80%,
      rgba(255, 255, 255,.6)
   ),url(../assets/img/gallery-img-10.jpg); 
   background-attachment: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover;
   margin-top: 3em;

}
.message
{
	text-align: center;
	color: #ffffff;
	width: 60%;
	margin: 0 auto;
}

.message p 
{
	font-size: 30px;
	font-family: var(--beth-ellen);
}
@media screen and (max-width: 744px) {
.message
{
	padding: 1em;
	width: 100%;
}
.message p 
{
	font-size: 20px;
	font-family: var(--beth-ellen);
}
}

.contact {
	min-height: 50vh;
	padding: 3rem 1em;
	margin: 3rem auto;
}
.contact .heading
{
	padding: 2em 1em;
}
.contact .heading h3
{
	font-size: 50px;
	font-family: var(--merienda);
	
}
.contact .heading h3 span
{
	color: var(--primaryColor);
}
.contact .contact-icon
{
	margin: 1em auto;
}
.contact .contact-icon i
{
	font-size: 30px;
	padding: 0.67em;
	background: var(--primaryColor);
	color: #fff;
	border-radius: 50%;
}

.contact .contact-content
{
	padding:1em;
	margin: 1em auto;
}
.contact .contact-content p
{
	font-family: var(--oswald);
}

.footer
{
	min-height: 50px;
	background: var(--primaryColor);
	color: #fff;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--merienda);
}
.footer a 
{
	color: #f3f3f3;
	font-weight: 900;
	text-decoration: underline;
}
